<div class="content">
  
  {{ $dateFormat := (default "January 2, 2006" .Site.Params.BookDateFormat) }}
  {{ with .Date}}
    <h5 class="subtitle">{{ .Format $dateFormat }}</h5>
  {{ end }}
  <div class="field is-grouped is-grouped-multiline">
    {{ range $taxonomy, $_ := .Site.Taxonomies }}
      {{ with $terms := $.GetTerms $taxonomy }}
        {{ if ne $taxonomy "tags" }}
          <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark is-normal">
          {{ $taxonomy }}
        </span>
        {{ range $n, $term := $terms }}{{ if $n }} {{ end }}
        {{if eq $taxonomy "series"}}
        <span class="tag is-success">
          <a class="has-text-white" href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
        </span>
        {{else}}
        <span class="tag is-link">
          <a class="has-text-white" href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
        </span>
        <a class="tag is-delete"></a>
        {{ end }}
        {{ end }}
      </div>
          </div>
      {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>